# Distribution / packaging
init
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.cpp
*.so
*.c

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Documentation
_build/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Data
*.csv
# *.txt
*.xls
*.xlsx
*.tar.gz
*.tsv
*.ann
*.doc
*.docx
*.log

# Editors
.idea
.vscode

# Files
.DS_Store

# Environment
.venv
.env

# Test resources
!tests/resources/**/*

# Generated docs
docs/reference
docs/changelog.md
docs/contributing.md

# Ignore the /data folder
# data/
# /data/
/rct_protocols/

#Ignore bin files
*.bin

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
